* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body {
  height: 1000px;
  padding-top: 40px;
}

.navbar ul li a img {
  width: 28px;
}

.story-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
}

.story {
  flex-basis: 26%;
  padding-top: 32%;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url(image/status-1.png);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-left: 8px;
}

.story p {
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.story-container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  border: 3px solid rgb(91, 96, 227);
  top: 2px;
  left: 5px;
}

.story-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url(image/status-2.png);
}

.story-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url(image/status-3.png);
}

.story-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url(image/status-4.png);
}

.story-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url(image/status-5.png);
}

.profile {
  width: 50px;
  border-radius: 50%;
  margin: 10px 10px;
}

.message-div {
  display: flex;
  align-items: center;
}

.profile-1 {
  display: flex;
  align-items: center;
}

.profile-1 p {
  width: 200px;
}

.imp-links img {
  width: 26px;
  margin: 0 5px;
}

.imp-links a {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 29px;
  width: fit-content;
  text-decoration: none;
  color: #626262;
}

.shorcut {
  margin-left: 22px;
  color: #626262;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #41db51;
  top: 15px;
  left: 52px;
}

.add {
  width: 100%;
  text-align: end;
  margin-right: 12px;
}

.img-container {
  display: flex;
  align-items: center;
}

.text {
  line-height: 4px;
}

.mind {
  padding-bottom: 20px;
  background-color: rgb(239, 239, 239);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  flex-shrink: 0;
}

.mind textarea {
  width: 90%;
  margin-left: 30px;
  border: none;
  outline: none;
  padding-left: 20px;
  background-color: transparent;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  flex-wrap: nowrap;
}

.social img {
  width: 28px;
  margin: 0 12px;
}

.friend {
  background-color: rgba(186, 211, 191, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.post {
  padding: 10px;
  border: 1px solid #cccc;
}

.likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  position: relative;
}

.likes img {
  width: 28px;
  margin: 0 5px;
}

.likes a {
  text-decoration: none;
  color: black;
}

.likes a:hover {
  text-decoration: none;
  color: black;
}

.likes button {
  background-color: transparent;
  border: none;
}

.comment-div {
  width: 100%;
  height: 100px;
}

.comment-div input {
  width: 100%;
  margin-top: 20px;
  padding-left: 10px;
}

.shares {
  width: 100%;
  text-align: center;
  background-color: rgb(91, 96, 227);
  position: absolute;
  height: 100px;
  bottom: 30px;
  border-radius: 5px 5px 0 0;
  padding-top: 30px;
  display: none;
}

.shares a {
  margin: 12px;
  font-size: 22px;
}

.settings-menu {
  position: absolute;
  width: 50%;
  max-width: 350px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 100%;
  right: 2%;
  display: none;
}

.profile-info {
  display: flex;
  align-items: center;
  margin: 20px 20px;
}

.profile-info a {
  text-decoration: none;
  font-size: 12px;
  color: #1876f2;
}

.info {
  line-height: 5px;
  margin-left: 10px;
  cursor: pointer;
}

#middle {
  margin-left: 25%;
}

nav {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 980px) {
  .imp-links {
    display: none;
  }

  #middle {
    margin-left: 1%;
  }
}

@media only screen and (max-width: 678px) {
  .friend {
    display: none;
  }
}

@media only screen and (max-width: 583px) {
  nav {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  #middle {
    margin-top: 170px;
  }
}
